@page "/AdminVacationTravelClub"

@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService

<BSJumbotron class="mytravelclubjumbotron">
    <BSNav IsList="true" IsVertical="true" class="mytravelclubmenulist">
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="MyTravelClub" Match="NavLinkMatch.All">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-person" aria-hidden="true"></span>
                </div>
                Mit TravelClub
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="PublishVacation">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-cog" aria-hidden="true"></span>
                </div>
                Udgiv feriepakker
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="AdminVacationTravelClub">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-globe" aria-hidden="true"></span>
                </div>
                Administrer feriepakker
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="AddTravelBureaus">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-globe" aria-hidden="true"></span>
                </div>
                Tilføj rejsebureau
            </NavLink>
        </li>
    </BSNav>

        <div Class="mytravelclubcontent">
            <h2 class="welcomemytravelclub">Administrer offentliggjorte feriepakker</h2>
            <div>
                <ul>
                    @foreach (Vacation vac in vacations)
                    {
                        if (vac.State == "Published" || vac.State == "GracePeriod")
                        {
                            <!-- vac.Destination.AddActivity(); -->

                            <BSJumbotron class="mytravelclubjumbotron">

                                <div class="ViewVacationImage">
                                    <BSFigureImage src="@vac.ImageLink" />
                                </div>

                                <div class="ViewDescriptionRow">
                                    <div class="VacationHotelColumn">
                                        <h2>@vac.Destination.Hotel, @vac.Destination.Location</h2>
                                        

                                        <h2>Feriebeskrivelse: </h2>
                                        <p>@vac.Description</p>
                                    </div>
                                </div>

                                <br />

                                <h6>Prices from: @vac.Prices[vac.Prices.Count - 1] kr. - @vac.Prices[0] kr. </h6>
                                <p>
                                    @for (int i = 0; i < @vac.Prices.Count; i++)
                                    {
                                        string priceIntervalHolder = "";
                                        priceIntervalHolder += vac.Prices[i] + "kr.";
                                        <text>@priceIntervalHolder  &nbsp; &nbsp; &nbsp;</text>
                                    }
                                </p>
                                <h6>Deadline: @vac.Dates["Deadline"]</h6>

                                <BSButton @onclick="@(e => ChangeVacState(vac, "Cancelled"))">Fjern Ferie</BSButton>
                            </BSJumbotron>
                        }

                    }
                </ul>
            </div>
        </div>
</BSJumbotron>


@code {

    int ID;

    string loginInfo;

    string[] loginresult;

    Account acc;

    List<Vacation> vacations = new List<Vacation>();

    protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetAllVacations(DaService);
    }

    void ChangeVacState(Vacation vac, string state)
    {
        vac.State = state;
    }
    void LogOut(MouseEventArgs e)
    {
        DaService.LoggedIn = false;
    }
}
