@page "/JoinedVacations"

@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService

<h3>Mit TravelClub</h3>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="row">
            <div class="navbar-column">
                <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav flex-grow-1">
                        <BSNav IsList="true" IsVertical="true">
                            <li class="nav-item">

                                <NavLink class="nav-link text-dark" href="MyTravelClub" Match="NavLinkMatch.All">
                                    <span class="oi oi-person" aria-hidden="true"></span> Mit TravelClub
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link text-dark" href="MyProfile">
                                    <span class="oi oi-cog" aria-hidden="true"></span> Min profil
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link text-dark" href="JoinedVacations">
                                    <span class="oi oi-globe" aria-hidden="true"></span> Tilmeldte feriepakker
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link text-dark" href="PriceAgents">
                                    <span class="oi oi-bell" aria-hidden="true"></span> Mine Prisagenter
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link text-dark" href="FavouritedVacations">
                                    <span class="oi oi-heart" aria-hidden="true"></span> Mine favoriserede feriepakker
                                </NavLink>
                            </li>
                            <li class="nav-item" @onclick="LogOut">
                                <NavLink class="nav-link text-dark" href="">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log ud
                                </NavLink>
                            </li>
                        </BSNav>
                    </ul>
                </div>
            </div>
            <div class="vacation-column">
                <h4>Dine tilmeldte Feriepakker</h4>
                <ul>
                    @foreach (int item in JoinedVacs)
                    {
                        foreach (Vacation vac in vacations)
                        {
                            if (item == vac.ID)
                            {
                                <!-- vac.Destination.AddActivity(); -->

                                <BSJumbotron>

                                    <div class="ViewVacationImage">
                                        <BSFigureImage src="@vac.ImageLink" />
                                    </div>

                                    <div class="ViewDescriptionRow">
                                        <div class="VacationHotelColumn">
                                            <h2>@vac.Destination.Hotel, @vac.Destination.Location</h2>
                                            <h10>ID:  @vac.ID </h10>

                                            <h2>Feriebeskrivelse: </h2>
                                            <p>@vac.Description</p>
                                        </div>
                                    </div>

                                    <br />

                                    <h6>Prices from: @vac.Prices[vac.Prices.Count - 1] kr. - @vac.Prices[0] kr. </h6>
                                    <p>
                                        @for (int i = 0; i < @vac.Prices.Count; i++)
                                        {
                                            string priceIntervalHolder = "";
                                            priceIntervalHolder += vac.Prices[i] + "kr.";
                                            <text>@priceIntervalHolder  &nbsp; &nbsp; &nbsp;</text>
                                        }
                                    </p>
                                    <h6>Deadline: @vac.Dates["Deadline"]</h6>
                                </BSJumbotron>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

</nav>


    @code {
        public List<int> JoinedVacs = new List<int>();
        public List<Vacation> vacations;

        protected override async Task OnInitializedAsync()
        {
            JoinedVacs = await CustomerVac.GetRelatedVacationsForCustomer(DaService.LoggedInAccountID, "Joined");
            vacations = await DaService.GetAllVacations(DaService);

        }

        CustomerVacations CustomerVac => new CustomerVacations(DaService);

        bool collapseNavMenu = true;

        string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

        string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

        void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

        void LogOut(MouseEventArgs e)
        {
            DaService.LoggedIn = false;
        }

    }
