@page "/JoinedVacations"

@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService

<BSJumbotron Class="mytravelclubjumbotron">
    <BSNav IsList="true" IsVertical="true" Class="mytravelclubmenulist">
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="MyTravelClub" Match="NavLinkMatch.All">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-person" aria-hidden="true"></span>
                </div>
                Mit TravelClub
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="EditProfile">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-cog" aria-hidden="true"></span>
                </div>
                Min profil
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="JoinedVacations">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-globe" aria-hidden="true"></span>
                </div>
                Tilmeldte feriepakker
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="PriceAgents">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-bell" aria-hidden="true"></span>
                </div>
                Prisagenter
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="FavouritedVacations">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-heart" aria-hidden="true"></span>
                </div>
                Favoriserede feriepakker
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem">
            <NavLink class="textcolor" href="ParticipatedVacations">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-globe" aria-hidden="true"></span>
                </div>
                Gennemførte rejser
            </NavLink>
        </li>
        <li class="mytravelclubmenulistitem" @onclick="LogOut">
            <NavLink class="textcolor" href="">
                <div class="mytravelclubmenulisticon">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                </div>
                Log ud
            </NavLink>
        </li>
    </BSNav>

    <div class="mytravelclubcontent">
        <h2 class="welcomemytravelclub">Dine tilmeldte Feriepakker</h2>
        <ul>
            @foreach (int item in JoinedVacs)
            {
                foreach (Vacation vac in vacations)
                {
                    if (item == vac.ID)
                    {
                        <!-- vac.Destination.AddActivity(); -->

                        <BSJumbotron class="mytravelclubsubjumbotron">

                            <div class="ViewVacationImage">
                                <BSFigureImage src="@vac.ImageLink" />
                            </div>

                            <div class="ViewDescriptionRow">
                                <div class="VacationHotelColumn">
                                    <h2>@vac.Destination.Hotel, @vac.Destination.Location</h2>

                                    <h2>Feriebeskrivelse: </h2>
                                    <p>@vac.Description</p>
                                </div>
                            </div>

                            <br />

                            <div class="ParticipantDetailColumn">
                                <div class="ViewVacPriceContainer">
                                    <h6>Prices from: <br />@vac.Prices[vac.Prices.Count - 1] kr. - @vac.Prices[0] kr. </h6>
                                    <div class="progressBarGenerator">
                                        @for (int i = 0; i < vac.StretchGoals.Count; i++)
                                        {
                                            <div class="progStretchGoal">
                                                <progress class="progressBarJoinedUsers" max=@vac.StretchGoals[i] value=@ValueCalc(vac.StretchGoals, vac.StretchGoals[i], vac.TravelGroup.NumberOfJoinedUsers().GetAwaiter().GetResult())></progress>
                                                <div class="progressBarPriceGoal">
                                                    @(vac.Prices[i]+ " kr.")
                                                </div>
                                            </div>
                                        }
                                    </div>

                                <div class="ViewVacMoreInfoBtn">
                                    <a class="btn btn-primary" href="@vac.TravelBureauWebsiteLink" role="button">Se mere</a>
                                </div>
                                    <br />
                                    <div class="ViewVacDeadlineDate">
                                        <h5>Deadline:<br /> @vac.Dates["Deadline"]</h5>
                                    </div>
                                </div>
                                    <br />
                                    <div class="ViewVacationButtons">
                                        <BSButton @onclick="@(e => LeaveVacation(vac))" Color="Color.Danger">Forlad Ferie</BSButton>
                                    </div>
                            </div>


                        </BSJumbotron>
                    }
                }
            }
        </ul>
    </div>
    <BSModal @ref="LeaveInfoBox" Size="Size.Medium">
        <BSModalHeader Class="Modal-title text-center" OnClick="@LeaveVacation">ADVARSEL</BSModalHeader>
        <BSModalBody><p>Du har nu forladt denne ferie <br /> Ønsker du at finde ferien igen, skal du søge efter den under "Se ferier"</p></BSModalBody>
    </BSModal>
</BSJumbotron>


@code {
    BSModal LeaveInfoBox;
    Customer customer;
    public List<int> JoinedVacs = new List<int>();
    public List<Vacation> vacations;
    int joinedUsersHolder;

    protected override async Task OnInitializedAsync()
    {
        JoinedVacs = await CustomerVac.GetRelatedVacationsForCustomer("Joined");
        vacations = await DaService.GetAllVacations(DaService);
    }

    CustomerVacations CustomerVac => new CustomerVacations(DaService, DaService.LoggedInAccountID);

    void LogOut(MouseEventArgs e)
    {
        DaService.LoggedIn = false;
    }

    void LeaveVacation(MouseEventArgs e)
    {
        LeaveInfoBox.Toggle();

    }

    public void LeaveVacation(Vacation vac)
    {
        vac.TravelGroup.LeaveVacation(DaService.LoggedInAccountID);
        LeaveInfoBox.Toggle();
        JoinedVacs = CustomerVac.GetRelatedVacationsForCustomer("Joined").GetAwaiter().GetResult();
    }

    @*Calculates progress bar fill value from joined user and stretch goals*@
    int ValueCalc(List<int> stretchGoals, int currGoal, int joinedUsers)
    {
        int prevIndex = stretchGoals.IndexOf(currGoal) == 0 ? 0 : stretchGoals.IndexOf(currGoal) - 1;
        int prevGoal = stretchGoals[prevIndex];

        if (joinedUsers >= currGoal)
        {
            return currGoal;
        }
        else if (currGoal.Equals(stretchGoals[0]))
        {
            return joinedUsers;
        }
        else
        {
            return joinedUsers - prevGoal;
        }
    }
}
