
@page "/SingleVacation/{VacationID}"

@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;

@inject DataAccessService DaService
@inject Blazored.LocalStorage.ILocalStorageService localStorage




<h3 class="page_title">Se ferier</h3>

<p>@VacationID</p>

<BSJumbotron Class="ViewSingleVacationJumbotron">
    <div class="SingleVacationContainer">
        <div class="ViewSingleVacationImage">
            <BSFigureImage src="@vac.ImageLink" />
        </div>
        <br />

        <div class="ViewSingleVacationHotel">
            <h2>@vac.Destination.Hotel, @vac.Destination.Location</h2>
            <h10>ID:  @vac.ID </h10>
        </div>

        <div class="Row">
            <div class="VacationDescriptionColumn">
                <h4>Beskrivelse af ferien:</h4>
                <p><b>Afrejselufthavn:</b> @vac.DepartureAirport</p>
                <p>@vac.Description</p>
                <h4>Activities:</h4>
                @foreach (Activity item in vac.Destination.Activities)
                {
                    <p>@item.Type</p>
                }
            </div>

            
            <div class="ParticipantDetailColumn">
                <h6>Prices from: @vac.Prices[vac.Prices.Count - 1] kr. - @vac.Prices[0] kr. </h6>
          
                <span class="progressBarGeneratorVS">
                    @for (int i = 0; i < vac.StretchGoals.Count; i++)
                    {
                        <span class="progStretchGoalVS">
                            <div>
                                @(vac.Prices[i]+ " kr.")
                            </div>
                            <progress role="progressbar" class="progressBarJoinedUsersVS" max=@vac.StretchGoals[i] value=@ValueCalc(vac.StretchGoals, vac.StretchGoals[i], joinedUsersHolder)><span>@vac.StretchGoals[i]</span></progress>
                        </span>
                    }
                </span>


                <br />

                <BSButton @onclick="@(e => JoinVacation(vac))" Color="Color.Primary">Tilmeld Ferie</BSButton>
                <BSButton @onclick="@(e => FavouriteVacation(vac))" Color="Color.Primary">Favorisere ferie</BSButton>

                @*MODAL FOR LOGIN PROMPT*@
                <BSModal @ref="LoginModal" IsCentered="true">
                    <BSModalHeader OnClick="@OnToggleLogin">Log ind</BSModalHeader>
                    <BSModalBody>
                        <p>
                            @notloggedinfeedback <br /><br />
                            <BSForm Model="@formsModelVal" OnValidSubmit="ConsoleWrite">

                                <BSFormGroup>
                                    @*Input for user email*@
                                    <BSLabel for="InputEmail">Email-adresse</BSLabel>
                                    <BSInput id="InputEmail" InputType="InputType.Email" PlaceHolder="Indtast Email" @bind-Value="formsModelVal.Email"></BSInput>
                                </BSFormGroup>

                                <BSFormGroup>
                                    @*Input for user password*@
                                    <BSLabel for="InputPassword">Kodeord</BSLabel>
                                    <BSInput id="InputPassword" InputType="InputType.Password" PlaceHolder="Indtast Kodeord" @bind-Value="formsModelVal.Password"></BSInput>
                                </BSFormGroup>

                                <BSFormGroup IsCheck="true">
                                    @*Remember me check box*@
                                    <BSInput Id="ModalCheck" InputType="InputType.Checkbox" @bind-Value="formsModelVal.Valid"></BSInput>
                                    <BSLabel IsCheck="true" For="ModalCheck">Husk mig</BSLabel>
                                </BSFormGroup>

                                @*Submit Button*@
                                <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit" @onclick="LogInToProfile">Log ind</BSButton>
                            </BSForm>
                        </p>
                    </BSModalBody>
                </BSModal>

                <BSModal @ref="WarningBox" Size="Size.Medium">
                    <BSModalHeader Class="Modal-title text-center" OnClick="@LogInToProfile">INFO</BSModalHeader>
                    <BSModalBody><p>Den indtastede Email eller Password er ikke indtastet korrekt. <br /> Prøv venligst igen.</p></BSModalBody>
                </BSModal>

                <h6>Deadline: @vac.Dates["Deadline"]</h6>

                <a class="btn btn-primary" href="@vac.TravelBureauWebsiteLink" role="button">Se mere</a>
                <h6>Deadline: @vac.Dates["Deadline"]</h6>
            </div>
        </div>
    </div>
</BSJumbotron>


@code {
    BSModal LoginModal;
    BSModal WarningBox { get; set; }
    int joinedUsersHolder;
    int stretchGoalsMax;
    int customerID;
    Vacation vac = null;
    public List<Vacation> vacations;
    string notloggedinfeedback;

    void OnToggleLogin(MouseEventArgs e)
    {
        LoginModal.Toggle();
    }

    async void LogInToProfile(MouseEventArgs e)
    {
        //returnerer ID ved succes og -1 ved fail
        int ID = await Account.FindAccountInDatabase(formsModelVal.Email, formsModelVal.Password, DaService);

        LoginModal.Toggle();

        if (DaService.LoggedIn == false)
        {
            WarningBox.Toggle();

        }
        else
        {
            DateTime expiry = DateTime.Now.AddHours(2);
            await localStorage.ClearAsync();
            await localStorage.SetItemAsync("login", ID + "," + expiry);
        }
    }


    public class FormsModelVal
    {
        [Required]
        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string Email { get; set; }

        [Required]
        [StringLength(20, ErrorMessage = "password too long (20 character limit).")]
        public string Password { get; set; }

        [Required]
        public Boolean Valid { get; set; }
    }
    FormsModelVal formsModelVal = new FormsModelVal();

    void ConsoleWrite()
    {
        Console.WriteLine("Form succesfully submitted");
    }


    protected override async Task OnInitializedAsync()
    {
        vac = await DaService.GetVacationByID(DaService, Convert.ToInt32(VacationID));
        joinedUsersHolder = vac.TravelGroup.GetUserIDsFromRelation(vac.ID, "Joined").ConfigureAwait(true).GetAwaiter().GetResult().Count;
        stretchGoalsMax = vac.StretchGoals.Max();

    }

    public async void checkCookie()
    {
        string cookie = await localStorage.GetItemAsStringAsync("login");
        string[] splitCookie = cookie.Split(",");
        if (Convert.ToDateTime(splitCookie[1]) > DateTime.Now)
        {
            customerID = Convert.ToInt32(splitCookie[0]);
        }
    }

    public void JoinVacation(Vacation vac)
    {
        checkCookie();
        if (DaService.LoggedIn == true)
        {
            notloggedinfeedback = string.Empty;
            vac.TravelGroup.ChangeVacationRelation(customerID, vac.ID, "Joined");
        }
        else
        {
            notloggedinfeedback = "Du skal være logged in før du kan bruge denne funktionalitet";
            LoginModal.Toggle();
        }
    }

    public void FavouriteVacation(Vacation vac)
    {
        checkCookie();
        if (DaService.LoggedIn == true)
        {
            notloggedinfeedback = string.Empty;
            vac.TravelGroup.ChangeVacationRelation(customerID, vac.ID, "Favourited");
        }
        else
        {
            notloggedinfeedback = "Du skal være logged in før du kan bruge denne funktionalitet";
            LoginModal.Toggle();
        }
    }


    [Parameter]
    public string VacationID { get; set; }


    @*Calculates progress bar fill value from joined user and stretch goals*@
    int ValueCalc(List<int> stretchGoals, int currGoal, int joinedUsers)
    {
        int prevIndex = stretchGoals.IndexOf(currGoal) == 0 ? 0 : stretchGoals.IndexOf(currGoal) - 1;
        int prevGoal = stretchGoals[prevIndex];

        if (joinedUsers >= currGoal)
        {
            return currGoal;
        }
        else if (currGoal.Equals(stretchGoals[0]))
        {
            return joinedUsers;
        }
        else
        {
            return joinedUsers - prevGoal;
        }
    }



    //async public void JoinVacation()
    //{
    //    List<Vacation> templit = await DaService.GetAllVacations(DaService);
    //    templit[0].TravelGroup.ChangeVacationRelation(15, 34, "Joined");
    //}

    //async public void FavouriteVacation()
    //{
    //    List<Vacation> templit = await DaService.GetAllVacations(DaService);
    //    Console.WriteLine(templit[0].ID);
    //    templit[0].TravelGroup.ChangeVacationRelation(15, 34, "Favourited");
    //}


}
