@page "/vacationView"

@using TravelClubProto.Data
@inject DataAccessService DaService
<h3>Se ferier</h3>

@foreach (Vacation vac in vacations)
{   
<BSJumbotron>
    <h2>@vac.Destination.Hotel, @vac.Destination.Location</h2>
    <p>Afrejselufthavn: @vac.DepartureAirport</p>



    <BSJumbotron Class="TextJumbotron">
        <h4>Beskrivelse af ferien</h4>
        <p>@vac.Description</p>
        <h16> @vac.ID </h16>
    </BSJumbotron>

    <h6>Prices from: @vac.Prices[vac.Prices.Count - 1] kr. - @vac.Prices[0] kr. </h6>
    <p>
        @for (int i = 0; i < @vac.Prices.Count; i++)
        {
            string priceIntervalHolder = "";
            priceIntervalHolder += vac.Prices[i] + "kr.";
            <text>@priceIntervalHolder  &nbsp; &nbsp; &nbsp;</text>
        }
    </p>
    <h6>Deadline: @vac.Dates["Deadline"]</h6>





</BSJumbotron>
}

@code {
    public List<Vacation> vacations;
    protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetAllVacations(DaService);
    }
}
